body {
    background-color: #EDEDED;
}

.center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.flex {
    display: flex;
}

.underline {
    text-decoration: underline;
}

.red {
    color: red;
}

.background-red {
    background-color: red;
}

.blue {
    background-color: #5B9BD5;
}

.green {
    background-color: #70AD47;
}

.yellow {
    background-color: #FFC000;
}

.brown {
    background-color: #DD5B13;
}

.orange {
    background-color: #ED7D31;
}

#message {
    transition: opacity 2s;
}

.header {
    height: 10vh;
    position: relative;
}

.header-title {
    font-size: 3vh;
    padding-left: 1.5vw;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.header-menu {
    justify-content: right;
    padding-right: 1vw;
    padding-top: 4vh;
    font-size: 2.5vh;
    letter-spacing: 0.05em;
}

.header-menu-list {
    list-style: none;
    margin-right: 2vw;
}

.header-editUser-button {
    color: black;
    text-decoration: underline;
}

.header-editUser-button:hover {
    color: #8E8E8E;
    transition: .2s;
}

.header-logout-button {
    color: black;
    text-decoration: underline;
}

.header-logout-button:hover {
    color: #8E8E8E;
    transition: .2s;
}

.top-page-heading {
    margin-top: 10vh;
    font-size: 20px;
    line-height: 2;
}

.top-buttons {
    display: flex;
    justify-content: center;
    padding-top: 150px;
    gap: 3vw;
    font-size: 45px;
    height: 120px;
    letter-spacing: 0.1em;
}

.top-registeruser-btn {
    color: white;
    background-color: #00B0F0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    text-decoration: none;
    border-radius: 100px;
}

.top-registeruser-btn:hover {
    background-color: #3BCCFF;
    transition: .3s;
}

.top-login-btn {
    color: white;
    background-color: #70AD47;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    text-decoration: none;
    border-radius: 100px;
}

.top-login-btn:hover {
    background-color: #97C777;
    transition: .3s;
}

.content-title {
    padding: 10px 0px;
    margin: 50px 20vw;
    font-size: 30px;
    text-decoration: underline;
    color: white;
    letter-spacing: 0.1em;
}

.form-wrapper {
    padding: 1vh 0;
    display: flex;
    gap: 20px;
    justify-content: center;
    font-size: 20px;
}

.form-label {
    float: left;
    margin-left: 10vw;
    width: 240px;
    text-align: right;
    padding: 5px 0;
}

.form-control {
    float: right;
    margin-right: 20vw;
    width: 20vw;
    padding: 5px 0;
    font-size: 20px;
}

.form-password {
    font-size: 15px;
}

.form-btn {
    font-size: 25px;
    margin-top: 50px;
    padding: 5px 50px;
    font-weight: bold;
    color: white;
    border: none;
    cursor: pointer;
}

.form-btn:hover {
    opacity: 0.7;
    transition: .3s;
}

.is-invalid {
    border: 3px solid #FF757F;
}

.invalid-feedback {
    font-size: 15px;
}

.register-message{
    font-size: 24px;
    background-color: #BDD7BD;
    margin: 0 20vw 30px;
    color: green;
}

.logout-message{
    background-color: #FFC1C1;
    font-size: 24px;
    margin: 0 20vw 30px;
    text-align: center;
}

.memo-top {
    height: 5vh;
    margin-top: 2vh;
    position: relative;
}

.memo-title {
    background-color: #A5A5A5;
    position: absolute;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    top: 50%;
    font-size: 2.5vh;
    color: white;
    text-decoration: underline;
    padding: 0.5vh 5vw;
    letter-spacing: 0.05em;
}

.memo-content {
    margin-top: 1vh;
}

.memo-date {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    margin-left: 2vw;
}

.memo-date-input {
    height: 4vh;
    width: 15vw;
    border: 1px solid black;
    font-size: 16px;
}

.memo-search {
    position: absolute;
    right: 0%;
    transform: translateY(-50%) translateX(-50%);
    top: 50%;
}

.memo-search-button {
    width: 4vw;
    height: 4vh;
}

.memo-search-input {
    height: 4vh;
    width: 15vw;
    border: 1px solid black;
    font-size: 20px;
}

.memo-list {
    height: 75vh;
    width: 70vw;
    overflow-y: auto;
    padding-top: 3vh;
}

.memo-items {
    margin: 0 2vw;
    padding: 15px 0;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.memo-items:hover {
    background-color: darkgray;
    transition: .1s;
    cursor: pointer;
}

.memo-item-date {
    margin: auto 0;    
}

.memo-item-memo {
    margin-left: 60px;
    word-break: break-word;
}

.memo-register {
    height: 78vh;
    width: 30vw;
}

.memo-register-title {
    text-decoration: underline;
    margin: 50px;
    font-size: 20px;
}

.memo-register-memo {
    max-width: 60%;
    width: 30vw;
    height: 20vh;
    font-size: 18px;
}

.memo-register-button {
    margin-top: 60px;
    background-color: #5B9BD5;
    font-size: 25px;
    color: white;
    border: none;
    padding: 5px 50px;
    cursor: pointer;
}

#memo-btn:disabled {
    background: #ccc;
    cursor: default;
}

.memo-register-button:hover {
    opacity: 0.7;
    transition: .3s;
}

#memo-btn:disabled:hover {
    opacity: 1;
    transition: none;
}

.editMemo-title-wrapper {
    position: relative;
}

.editMemo-content-title {
    padding: 10px 0px;
    margin: 50px 20vw;
    font-size: 30px;
    text-decoration: underline;
    color: white;
    letter-spacing: 0.1em;
}

.editMemo-left-arrow {
    position: absolute;
    top: 50%;
    font-size: 30px;
    margin-left: 5vw;
    transform: translateY(-50%);
    padding: 1vh 2vw;
    text-decoration: none;
    color: black;
}

.editMemo-left-arrow:hover {
    background-color: darkgray;
    transition: .3s;
}

.editMemo-form-label {
    width: 100px;   
    margin: auto 0 auto 20vw;
}

.editMemo-memoContent {
    height: 20vh;
    width: 100%;
    margin: 10vh 20vw 10vh 0;
}

.editMemo-delete-button {
    margin-right: 2vw;
    text-decoration: none;
}

.editMemo-update-button {
    margin-left: 2vw;
}

.editUser-username {
    text-align: left;
}