<!DOCTYPE html>
<html xmlns:th = "http://thymeleaf.org">
<head>
<meta charset="UTF-8" th:remove = "tag">
<link th:href = "@{/css/memoApp.css}" rel = "stylesheet">
<title>ユーザ編集</title>
</head>
<body>
    <div class = "container">
        <header class = "header">
            <div class = "header-title bold">
                学習メモApp✐
            </div>
        </header>
        
        <div class = "content">
            <div class = "content-title center yellow bold">
                アカウント情報変更
            </div>
            <div class = "form-body center">
                <form th:action = "@{/editUser}" th:object = "${user}" method = "post">
                   
                    <div class = "form-wrapper">
                        <label for = "username" class = "form-label">
                            ユーザ名(変更不可)
                            <span class = "red">*</span>
                        </label>
                        <input type = "hidden" th:value = "${loginUserName}" name = "username">
                        <div class = "form-control editUser-username" th:text = "${loginUserName}"></div>
                    </div>
                    <div class = "invalid-feedback red" th:errors = "*{username}"></div>
                    <div class = "form-wrapper">
                        <label for = "e-mail" class = "form-label">
                            メールアドレス
                            <span class = "red">*</span>
                        </label>
                        <input class = "form-control" type = "text" placeholder = "メールアドレスを入力" th:field = "*{email}" th:errorclass = "is-invalid">
                    </div>
                    <div class = "invalid-feedback red" th:errors = "*{email}">
                    </div><br>
                    
                    <div class = "form-wrapper">
                        <label for = "password" class = "form-label">
                            パスワード
                            <span class = "red">* </span>
                        </label>
                        <input class = "form-control form-password" type = "password" placeholder = "6文字以上半角英字大小数字含む" th:field = "*{password}" th:errorclass = "is-invalid">
                    </div>
                    <div class = "invalid-feedback red" th:errors = "*{password}">
                    </div><br>
                    
                    <button class = "form-btn yellow" type = "submit">
                       変更
                    </button>
                    
                </form>
            </div>
        </div>
    </div>
</body>
</html>