<!DOCTYPE html>
<html xmlns:th = "http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href = "@{/css/memoApp.css}" rel = "stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<title>メモApp</title>
</head>
<body>
    <div class = "container">
        <header class = "header">
            <div class = "header-title bold">
                学習メモApp✐
            </div>
            <ul class = "header-menu flex">
                <li class = "header-menu-list" th:text="|${username} さん|"></li>
                <li class = "header-menu-list"><a th:href = "@{/editUser}" class = "header-editUser-button">情報変更</a></li>
                <li class = "header-menu-list"><a th:href = "@{/logout}" class = "header-logout-button">ログアウト</a></li>
            </ul>
        </header>
        <div class = "memo-top">
            <div class = "memo-date">
                <input type = "date" class = "memo-date-input bold"> 
                ~ 
                <input type = "date" class = "memo-date-input bold">
            </div>
            <div class = "memo-title center">
                メモ一覧
            </div>
            <div class = "memo-search">
                <i class="fa fa-search"></i> <input type = "text" class = "memo-search-input" placeholder = "検索">
            </div>
        </div>
        <div class = "memo-content flex">
	        <div class = "memo-list">
	            <div th:each = "memo : ${memo}">
	               <a th:href = "@{/editMemo/{id}(id = ${memo.Id})}" class = "memo-items flex">
		               <div th:text = "${#temporals.format(memo.memoDate,'yyyy/MM/dd')}" class = "memo-item-date"></div>
		               <div th:text = ${memo.memoContent} class = "memo-item-memo"></div>
		               <div th:text = ${memo.Id}></div>
	               </a>
	            </div>
	        </div>
	        <div class = "memo-register center">
	           <div class = "memo-register-title">
	               メモ作成
	           </div>
	           <form th:action = "@{/memo}" th:object = "${memo}" method = "post" id = "memo-form">
	               <textarea placeholder = "メモを入力" class = "memo-register-memo" name = "memoContent" ></textarea><br>
	               <div th:if="${param.error}" class = "red">
	                   メモの登録に失敗しました。<br>
	                   空白か、文字数が500文字以上の可能性があります。
	               </div>
	               <input type = "submit" value = "登録" class = "memo-register-button">
	           </form>
	        </div>
        </div>
    
    </div>
    <script type="text/javascript">
        // Enterキーが押された時にSubmitされるのを抑制する
        document.getElementById("memo-form").onkeypress = (e) => {
            // memo-formに入力されたキーを取得
            const key = e.keyCode || e.charCode || 0;
            // 13はEnterキーのキーコード
            if (key == 13) {
                // アクションを行わない
                e.preventDefault();
            }
        }
    </script>
</body>
</html>